.right-content__past-answer
  .right-content__past-answer__attack-num
    1撃目
  .right-content__past-answer__box
    .right-content__past-answer__box__num
      782
    .right-content__past-answer__box__hit
      2 SNIPE 1 TARGET