.left-content__past-answer
  .left-content__past-answer__attack-num
    1撃目
  .left-content__past-answer__box
    .left-content__past-answer__box__num
      051
    .left-content__past-answer__box__hit
      3 SNIPE 0 TARGET