.field

  - def initialize
    - # 相手の番号
    - @opp_nums = [*"0".."9"].sample(3)
    - # ゲームが続いているかの状態
    - @condition = true



  .left-content
    = render "player_name"
    = render "player_answer"
  .center-content
    = render "result"
    = render "attack"
  .right-content
    - # = render "opponent_name"
    - # = render "opponent_answer"